{% load static %}
<style>
    .navbarr{
        border-bottom: 5px solid #ECAB2B;
    }
    nav ul li:hover{
        background-color: #ECAB2B;
    }
</style>

    <nav class="navbar-light navbar navbar-expand-md bg-light fixed-top py-0" >
        <div class="container col-lg-6 col-md-12" style="height: 100%;">
            <a class="navbar-brand logo-nav" href="/"><img src="{% static 'img/logo.png' %}" style="height: 55px" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse font-weight-bold" id="links" style="font-size: 14pt; height: 100%;">
                <ul class="navbar-nav w-100 display-flex justify-content-between font-weight-normal">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Ana Sayfa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Hakkımızda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/hakkimizda/biz_kimiz">Biz Kimiz?</a>
                            <a class="dropdown-item" href="/hakkimizda/misyon_vizyon">Misyon-Vizyon</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/etkinliklerimiz">Etkinliklerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iletisim">İletişim</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sosyal</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </nav>


<!--
<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">Hizmetlerimiz</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/hizmetler/satis#satis">2. El Satış</a>
                            <a class="dropdown-item" href="/hizmetler/laptop#laptop">Laptop Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/kasa-pc#kasa-pc">Kasa-PC Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/monitor#monitor">Monitör Tamiri</a>
                            <a class="dropdown-item" href="/hizmetler/yazici#yazici">Yazıcı Tamiri</a>
                        </div>
                    </li>
-->