        <div class="carousel slide" id="slides" data-ride="carousel">
            <ul class="carousel-indicators">
                {% for image in images %}
                    {% if image.query == 0 %}
                        <li data-target="#slides" data-slide-to="{{ image.query }}" class="active"></li>
                    {% else %}
                        <li data-target="#slides" data-slide-to="{{ image.query }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="carousel-inner">
                {% for image in images %}
                    {% if image.query == 0 %}
                        <div class="carousel-item active">
                            <img src="{{ image.img.url }}" alt="" style="width: 100%; height: 600px">
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <img src="{{ image.img.url }}" alt="" style="width: 100%; height: 600px">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>