{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>

.bg-container{
    background-image: url("/static/img/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 55vh;
    width: 100%;
}
    </style>
{% endblock %}

{% block content %}

     <br><br>

    <div class="bg-container d-flex">
        <div class="logo justify-content-center align-self-center w-100 text-center">
            <div class="container col-lg-7 col-md-12">
                    <img class="col-3" src="{% static 'img/logo.png' %}">
                <br><br><br><br><br>
                    <div class="container-fluid text-center display-3 font-weight-normal">
                        <p>ETKİNLİKLERİMİZ</p>
                    </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="container col-lg-9 col-md-12">
            <img class="w-100" src="{{ etk.img.url }}" alt="">
            <br>
        </div>
        <div class="col-12">
            <h1 class="display-4 font-weight-normal">{{ etk.title }}</h1>
            <p>{{ etk.text | safe }}</p>
            <br>
            <div class="">
                Etkinlik Tarihi: {{ etk.date }}
            </div>
            <br>
        </div>
    </div>


{% endblock %}

