{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
    .page-item{
        background-color: #ECAB2B;
    }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                {% for etk in etks %}
                    <div class="row p-4">
                        <div class="col-lg-6 col-md-12 justify-content-center align-self-center">
                            <img class="w-100" src="{{ etk.img.url }}" alt="">
                        </div>
                        <div class="col-lg-6 col-md-12 justify-content-center align-self-center">
                            <a href="/etkinliklerimiz/{{ etk.id }}"><h1 class="font-weight-normal">{{ etk.title }}</h1></a>
                            <p>{{ etk.small_text }}</p>
                            <div class="row">
                                <div class="col-8">
                                    {{ etk.date }}
                                </div>
                                <div class="col-4 text-center" >
                                    <a href="/etkinliklerimiz/{{ etk.id }}"><h6 class="bg-orange text-dark shadow" style="padding: 3px 25px;">İncele</h6></a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                <div class="container">
                    <ul class="pagination justify-content-center">

                        {% if etks.has_previous %}
                            <li class="page-item"><a href="?sayfa={{ etks.previous_page_number }}" class="page-link bg-orange text-dark">Önceki Sayfa</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link bg-orange text-dark" href="#"><span>&laquo;</span></a></li>
                        {% endif %}

                        {% for page in etks.paginator.page_range %}
                            {% if page_numbers.number == page %}
                                <li class="page-item active"><a class="page-link bg-orange text-dark" href="#">{{ page }} <span class="sr-only">{{ page }}</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link bg-orange text-dark" href="?sayfa={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if etks.has_next %}
                            <li class="page-item"><a href="?sayfa={{ etks.next_page_number }}" class="page-link bg-orange text-dark">Sonraki Sayfa</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link bg-orange text-dark" href="#"><span>&raquo;</span></a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 font-weight-normal text-center">
                <br>
                <div>
                    <h1>ARŞİV</h1>
                    <hr>
                </div>
                {% for etk in etks_all %}
                    <div class="mt-4">
                        <a href="etkinliklerimiz/{{ etk.id }}">
                            <div>{{ etk.title }}</div>
                            <div>{{ etk.date }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

