{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}
    </style>
{% endblock %}

{% block content %}


    <br>
    <div class="container col-lg-6 col-md-12">
                <div class="jumbotron text-center py-3">
                    <div class="container col-10">
                        <div class="row">
                            <div class="col-4 justify-content-center align-self-center">
                                <h2 class=""><i class="fas fa-envelope"></i></h2>
                            </div>
                            <div class="col-8 text-left">
                                <h2>jfk@itu.edu.tr</h2>
                                <h2>itujfk@gmail.com</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron text-center py-3">
                    <div class="container col-10">
                        <div class="row">
                            <div class="col-4 justify-content-center align-self-center">
                                <h2><i class="fas fa-home"></i></h2>
                            </div>
                            <div class="col-8 text-left">
                                <h3>İTÜ Ayazağa Yerleşkesi İnşaat Fakültesi Şarık Tara Öğrenci Merkezi Maslak/İstanbul</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!--
    <div class="container col-lg-7 col-md-12">
        <div class="row">
            <div class="col-3 text-right">
                <i class="fas fa-home display-4"></i>
            </div>
            <div class="col-9">
                <h3 class="font-weight-normal">İTÜ Ayazağa Yerleşkesi İnşaat Fakültesi Şarık Tara Öğrenci Merkezi Maslak/İstanbul</h3>
            </div>
        </div>



        <h3 class="font-weight-normal text-center">jfk@itu.edu.tr</h3>

        <h3 class="font-weight-normal text-center">itujfk@gmail.com</h3>
-->
        <br><br>

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%C4%B0T%C3%9C%20Ayaza%C4%9Fa%20Yerle%C5%9Fkesi%20%C4%B0n%C5%9Faat%20Fak%C3%BCltesi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.embedgooglemap.net"></a>
            </div>
        </div>
    </div>

    <br><br>



{% endblock %}

